            html,body {
                font-family: Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
                cursor: crosshair;
            }
            
            canvas {
                display: block;
            }
            
            header {
                position: absolute;
                top: 1rem;
                left: 3rem;
                z-index: 2;
                width:calc(100vw * 0.618);
            }

            @media (orientation: landscape){
                header {
                    width:calc(100vw * 0.382);                    
                }
            }

            p{
                line-height:1.5;
            }

            code{
                color:#455A64;
                font-size:1rem;
            }

            aside {
                z-index:2;
                position:absolute;
                left:1rem;
                bottom:1rem;
            }

            a{
                color:white;
                text-decoration: none;
                margin-right:2rem;
            
             }

            a.activo{font-weight:bold;
                text-decoration:underline;
            }
       